<div class="card mx-auto mt-5" style="width: 30%;">
  <div class="card-header bg-secondary text-light">
    Login</div>
  <div class="card-body bg-light">
    <form (submit)="checkCredentials(id.value, password.value)" class="card-text w-75 mx-auto">
      <div class="form-group">
        <label for="id">ID</label><span class="text-danger" *ngIf="id.touched && !id.valid"> *</span>
        <input
          type="text"
          ngModel name="id" #id="ngModel" id="id"
          required
          class="form-control" />
      </div>
      <div class="form-group mb-0">
        <label for="password">Password</label><span class="text-danger" *ngIf="password.touched && !password.valid"> *</span>
        <input
          type="password"
          ngModel name="password" #password="ngModel"
          required
          class="form-control"
          id="password"
          appPassword />
      </div>
      <input type="submit" class="btn btn-secondary" [disabled]="!(id.valid && password.valid)" [class.disabled]="!(id.valid && password.valid)" value="Accedi" />
    </form>
  </div>
</div>
