.ng-touched.ng-invalid {
  border-color: red;
}

.myalert.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.myalert {
  position:absolute;
  top: 0px;
  width: 100%;
  z-index: 4;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
