<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Medical Examination Manager</title>
  </head>
  <body>
    <%= user.name %>
  </body>
</html>
