html
  head
    title Medical Examinations Manager
  body
    div
      each val in strutture
        a(href=`localhost:3000/prenotazioni/prenota/${val.id}`) #{val.nome} #{val.prezzo }
        |
        br