<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Medical Examination Manager</title>
  </head>
  <body>
    <% strutture.forEach(s => `<a href="localhost:3000/prenota/<%= s %>"><%= s %></a>`) %>
  </body>
</html>
