<form class="input-group mb-3">
    <input #codeP type="text" class="form-control" placeholder="Codice ricetta" aria-describedby="basic-addon2" id="codPrescription" required>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="checkCode(codeP.value)"> Invia </button>
    </div>
</form>
<div *ngIf= "OKcode == false" class="alert alert-primary" role="alert">
    {{errormessage}}
</div>
<div *ngIf= "OKcode == true" class="alert alert-success" role="alert">
    Codice ricetta aggiunto!
</div>

