<div class="container">
    <h2>
    Lista Ricette  
    </h2>
    <div class="list-group">
        <button *ngFor="let pr of prescriptions" (click)= 'enableBooking(pr.ID)' type="button" class="list-group-item list-group-item-action">
          {{pr.ID}}
        </button>
      </div>
<br>
<button (click) = itsTimeToAdd() class="btn btn-outline-primary" > Aggiungi ricetta </button>

<div *ngIf = "timeToAdd">
    <br>
    <form class="input-group mb-3">
        <input #codeP type="text" class="form-control" placeholder="Codice ricetta" aria-describedby="basic-addon2" id="codPrescription" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="checkCode(codeP.value)"> Invia </button>
        </div>
    </form>
    <div *ngIf= "OKcode == false" class="alert alert-primary" role="alert">
        {{errormessage}}
    </div>
    <div *ngIf= "OKcode == true" class="alert alert-success" role="alert">
        Codice ricetta aggiunto!
    </div>
   <!-- <app-prescription-form></app-prescription-form> -->
    <br>
</div>

<div *ngIf = "timeToBook">
    <br>
    <button class="btn btn-outline-primary"> prenota </button> utilizzando la ricetta con codice {{idscelto}}
    <br>
</div>
</div>
